$color-main-background: #ACB7CA;
$color-bright-grey:#ECECEC;
$color-medium-grey:#8A8A8A;
$color-medium-blue:#367FDC;
$color-clear-white:white;
$color-ready-green:#46C746;
$color-dust-rose:#CE5E82;
$color-dark-grey:#545454;